@use '../util/' as *;

.design {
  background: url(/images/illustration-editor-desktop.svg);
  background-position: top right rem(-200);
  background-size: rem(900);
  background-repeat: no-repeat;
  padding: rem(150) rem(80);
  margin-block: rem(100);

  @include breakpoint-down(small) {
    background: url(/images/illustration-editor-mobile.svg);
    background-position: top rem(100) center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: rem(20) rem(20);
    margin-block: rem(20);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  p {
    color: var(--very-dark-grayish-blue);
  }

  > h2 {
    text-align: center;
  }

  &__blank {
    // width: 50%;

    @include breakpoint-down(medium) {
      min-height: rem(300);
      max-height: rem(300);
    }
  }

  .text-container {
    width: 50%;
    padding: rem(40);
    max-width: rem(600);

    @include breakpoint-down(medium) {
      width: 100%;
    }
  }
}
