@use '../util/' as *;

.design {
  background: url(/images/illustration-editor-desktop.svg);
  background-position: top rem(50) right rem(-200);
  background-size: rem(700);
  background-repeat: no-repeat;
  padding: rem(100) rem(80);

  p {
    color: var(--very-dark-grayish-blue);
  }

  > h2 {
    text-align: center;
  }

  .text-container {
    width: 50%;
    padding: rem(40);
    max-width: rem(600);
  }
}
