@use '../util/' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(70);
  position: absolute;
  top: rem(40);
  left: 50%;
  color: var(--white);
  width: 80%;
  transform: translateX(-50%);
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    display: flex;
    gap: rem(40);
    margin-right: auto;

    button {
      display: inline-block;
      color: var(--white);
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      > h4 {
        color: var(--white);
      }
    }

    ul {
      color: black;
      background: var(--white);
      padding: rem(30) rem(20);
      border-radius: rem(5);

      > li {
        min-width: rem(100);

        &:not(:last-of-type) {
          margin-bottom: rem(10);
        }

        &:hover {
          font-weight: 700;
        }
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &-content {
        // display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: rem(-20);
        z-index: 5;
        transition: all 0.5s ease-in-out;
      }
    }

    .dropdown:hover .dropdown-content {
      // display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  #login {
    transition: all 0.5s ease-in-out;

    &:hover {
      text-decoration: underline;
      scale: 1.2;
    }
  }

  #signup {
    color: var(--light-red);
    background: var(--white);
    padding: rem(15) rem(40);
    border-radius: rem(30);
    transition: all 0.5s ease-in-out;

    &:hover {
      background: hsla(0, 0%, 100%, 0.3);
      color: var(--white);
    }
  }

  .menu {
    display: none;
  }

  @include breakpoint-down(medium) {
    .nav,
    .buttons {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: center;
    }
  }
}
