@use '../util/' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(70);
  position: absolute;
  top: rem(40);
  left: 50%;
  color: var(--white);
  width: 80%;
  transform: translateX(-50%);
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    display: flex;
    gap: 2rem;
    margin-right: auto;

    > ul {
      > h4:hover {
        text-decoration: underline;
      }

      > li {
        display: none;
      }

      > li:hover {
        font-weight: 700;
      }
    }
  }

  #signup {
    color: var(--light-red);
    background: var(--white);
    padding: rem(15) rem(40);
    border-radius: rem(30);

    &:hover {
      background: hsla(0, 0%, 100%, 0.3);
      color: var(--white);
    }
  }

  .menu {
    display: none;
  }

  @include breakpoint-down(medium) {
    .nav,
    .buttons {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: center;
    }
  }
}
