@use '../util/' as *;

.hero {
  position: relative;
  color: var(--white);
  width: 100%;
  height: 600px;
  border-bottom-left-radius: rem(100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--background-gradient-intro-cta);
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center left / 150% url("/images/bg-pattern-intro.svg");
    z-index: -1;

    @include breakpoint-down(medium) {
      background: no-repeat bottom rem(-250) center / 150%
        url("/images/bg-pattern-intro.svg");
    }
  }

  > h1 {
    color: var(--white);
  }

  .subtitle {
    font-family: var(--font-overpass);
    margin-top: rem(25);
    margin-bottom: rem(45);
    font-size: rem(18);
  }

  #free {
    color: var(--light-red);
    background: var(--white);
    padding: rem(15) 0;
    border-radius: rem(30);
    width: rem(130);

    &:hover {
      color: var(--white);
      background: hsla(0, 0%, 100%, 0.3);
    }
  }

  #more {
    padding: rem(15) 0;
    width: rem(130);
    border: 1px solid var(--white);
    border-radius: rem(30);

    &:hover {
      color: var(--light-red);
      background: var(--white);
    }
  }
}
